.a{
    display: flex;
    flex-direction: row;
    height: 8.5rem;
    background-color:black;
}
.talkrooms{
    width: 50rem;
    background-color:black;
}
.talkroom{  
    margin-left: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px; 
    color: #F3C10E;
}
.desc2{ 
    width: 577px;
    height: 20px; 
    
    margin-left: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px; 
    color: #FFFFFF;
}
.search{
    width: 30rem;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.create{
    width: 20rem; 
    background-color: black;
}
.q{ 
    left: 12.5%;
    right: 14.17%;
    top: 12.5%;
    bottom: 14.27%;
    background-color: transparent;
    background: #F8F8F8;
}
.w{
    background-color:black; 
    
    width: 284px;
    height: 54px; 
      
    border: 3px solid #CACACA;
    border-radius: 20px;
    margin-right: 0rem;
    margin-top: 3rem;
    color: #FFFFFF;
}
.t{ 
    width: 124px;
    height: 20px;  
    margin-top: 0.5rem; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; 
    background-color: transparent;
    color: #FFFFFF;
}
.s{
    background-color:transparent; 
    
    width: 50px;
    height: 54px; 
      
    
    border-radius: 20px;
    margin-right: -5rem;
    margin-top: 3rem;
    color: #FFFFFF;
}
.createroom{ 
    width: 185px;
    height: 45px;
    margin-top: 5rem;
    margin-left: 3rem;
    background: #F3C10E;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    color: #000000;
}
.ml1{ 
width: 275px;
height: 29px; 
margin-top: 4rem;
margin-left: 2rem;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}
.ml2{ 
    width: 275px;
    height: 29px; 
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    }
.rm{ 
width: 275px;
height: 24px; 

margin-top: -2.5rem;
margin-left: 17rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #F3C10E;


}
.grid{
    display: grid;  
    grid-template-columns: auto auto auto; 
    row-gap: 30px;
    column-gap: 30px;    
    margin-left: 2rem;
}
.btn{ 
width: 413px;
height: 281px; 

background: linear-gradient(0.63deg, rgba(243, 193, 14, 0.6) 0.71%, rgba(243, 193, 14, 0) 117.57%);
border-radius: 20px;

 

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;


}
.column{
    display: flex;
    flex-direction: column;
}
.row{  
    display: grid;    
    grid-template-columns: auto auto; 
}
.join{ 
box-sizing: border-box;
padding: 5px;
background-color: transparent;
width: 70px;
height: 29px; 
color: #F3C10E;
border: 1px solid #F3C10E;
border-radius: 10px;

}
.h{ 
width: 300px;
height: 24px; 
margin-left: 2rem;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #CACACA;


}

.home{ 
    box-sizing: border-box;
     
    width: 87px;
    
    height: 54px;  
    margin-right: 5rem;
    margin-top: 3rem;
    
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    }